table {
    width: 50%;
    border: blue;
}
th {
    height: 10px;
}
tr {
    border: blue;
    height: 40px;
}
td {
    border: 1px solid black;
    text-align: center;
    background-color: cornflowerblue;
}

#obstacles {
    tr, td {
        background-color: orange;
        height: 15px; 
    } 
}