<div class="page" *ngIf="listOfStrBoard">
  <h2>Mars Rover</h2>
  <div >
    <table>
      <thead>
      </thead>
      <tbody>
          <tr *ngFor="let row of listOfStrBoard">
            <td>{{row[0]}}</td> <td>{{row[1]}}</td> <td>{{row[2]}}</td>
            <td>{{row[3]}}</td> <td>{{row[4]}}</td>
          </tr>
      </tbody>
      <tfoot> </tfoot>
    </table>
  </div>

</div>

<div class="page" *ngIf="listOfObstacles">
  <h2>Rover Moves and Obstacles</h2>
  <div >
    <table>
      <tbody>
          <tr id="obstacles" *ngFor="let obstacle of listOfObstacles">
            <td>{{obstacle}}</td> 
          </tr>
      </tbody>
      <tfoot> </tfoot>
    </table>
  </div>

</div>

<router-outlet></router-outlet>
